In [9]:
from operator import itemgetter
from pandas import DataFrame

with open("top-scores.txt", "w") as topScores: # create new top-scores text file
    listOfLists = []

    with open('scores.txt') as scoresFile:
        for line in scoresFile:
            lineList = line.strip('\n').split()
            listOfLists.append(lineList)

    sortedListofLists = sorted(listOfLists, key=itemgetter(-1)) # sort by the last item in each list, which is the score of each player

    for item in sortedListofLists:
        itemStr = ' '.join(item) + '\n'
        topScores.write(itemStr)

In [2]:
namesList = []
scoresList = []
for item in sortedListofLists:
    score = float(item[-1])
    if score < .4 and score > .0001:
        namesList.append(' '.join(item[1:-2]))
        scoresList.append(float(item[-1]))

In [3]:
df = DataFrame({'Names': namesList, 'Scores': scoresList})
df

           Names   Scores
0        joonwoo  0.07253
1          steve  0.13359
2       michelle  0.13782
3          steve  0.13984
4          steve  0.14110
5       michelle  0.14503
6          raven  0.14632
7          steve  0.14691
8       michelle  0.15054
9          steve  0.15120
10           Ian  0.15125
11         raven  0.15221
12         steve  0.15622
13         steve  0.15690
14         chris  0.15715
15       melissa  0.15727
16           ste  0.15737
17           CAM  0.15739
18      michelle  0.15821
19           CAM  0.15953
20       joonwoo  0.15988
21          trey  0.16045
22         chris  0.16085
23         steve  0.16114
24           ste  0.16142
25           De'  0.16197
26       joonwoo  0.16243
27         brian  0.16268
28    De'Marquis  0.16288
29         raven  0.16305
..           ...      ...
228          Kay  0.32005
229        raven  0.32640
230        grace  0.32652
231  John Andrew  0.32843
232     michelle  0.32910
233        quinn  0.32999
234       keisha  0.33177
235         Will  0.33245
236      bardley  0.33457
237        katie  0.33500
238    gabrielle  0.33833
239         noah  0.34421
240  christopher  0.35171
241        scott  0.35553
242         pax2  0.35571
243        steve  0.36168
244       kristy  0.36701
245     harrison  0.37209
246        aiden  0.37468
247        bryce  0.37671
248      William  0.38243
249        aiden  0.38280
250        nayia  0.38293
251         zane  0.38583
252      griffin  0.38658
253          Kay  0.39292
254      kendall  0.39392
255        aiden  0.39437
256       Camron  0.39521
257          Sop  0.39736

[258 rows x 2 columns]

In [4]:
df.to_excel('scores.xlsx', sheet_name='Ranked Scores', index=False)

In [6]:
average = sum(scoresList)/float(len(scoresList))
average

0.23529379844961254